/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2017, 9:14:45 AM
    Author     : Paris Guo
*/

body {background-color: blue; color: white; font-style:sans-serif; font-size: 14px; }
h1{font-size: 25px;}
.table{border:"1"}